/* HEADER */
.header_promo {
    text-transform: uppercase;
    font-family: "Passion One", sans-serif;
    font-size: 30px;
    color: white;
}

.header_promo img {
    max-height: 60px;
}

/* INTRODUCTION BLOCK */

.top_promo_block {
    background: url(../img/intro-bg-2.jpg);
    background-size: cover;
    position: relative;
    min-height: 650px;
}

.top_promo_block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.top_promo_header {
    position: relative;
    z-index: 1;
}

.btn_promo_search button {
    margin-left: 0 !important;
}

.scroll_block img {
    margin: 0 5%;
    float: right;
}

/* BLOG */

.block_no_padding {
    padding: 0;
}

.post.p_style_one {
    padding: 40px;
}
.post .post_info:not(:first-child) {
    margin-top: 20px;
}
.post .post_info:nth-child(2n+1) {
    margin-left: 5%;
}
.post .post_info:nth-child(2n) {
    margin-right: 5%;
}
.more_btn {
    width: 220px;
}

.post.p_style_one h3 {
    margin-top: 0;
}
.post.p_style_one h3 span {
    display: block;
    width: 100px;
    height: 1px;
    background: #E73931;
    margin: 10px 0px;
}

/* SLIDER NAV */

.slider-nav-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
.slider-nav-container .slider-nav {
    display: block;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.5);
    font-size: 36px;
    line-height: 60px;
    padding: 10px;
    transition: 0.5s;
    width: 25%;
    text-align: center;
}
.slider-nav-container .slider-nav.active, .slider-nav-container .slider-nav:hover {
    background-color: rgba(231, 57, 49, 0.8);
    color: #333;
    transition: 0.5s;
}

/* SLIDER */

.promo_block#block_films {
    padding: 0;
}

.slider-container {
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.rslides .slide-content {
    position: relative;
    float: left;
    width: 100%;
    border: 0;
    color: white;
}

.rslides .slide-content .films-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.rslides .slide-content .films-container .film {
    position: relative;
    width: 33.33%;
}

.rslides .slide-content .films-container .film img {
    width: 100%;
    height: 100%;
}

.rslides .slide-content .films-container .film .projection-time{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 2;
}

.rslides .slide-content .films-container .film .film-content {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px;
    z-index: 1;
    opacity: 0.01;
    transition: opacity 0.5s;
}

.rslides .slide-content .films-container .film:hover .film-content {
    opacity: 1;
    transition: opacity 0.5s;
}

.rslides .slide-content .films-container .film .film-content .film-meta {
    height: calc(100% - 175px);
    overflow-y: auto;
}

.rslides .slide-content .films-container .film .film-content .film-title {
    font-size: 30px;
}

.rslides .slide-content .films-container .film .film-content .separator {
    display: block;
    width: 30%;
    height: 1px;
    background: #E73931;
    margin: 20px auto;
}

.rslides .slide-content .films-container .film .film-content .film-author {
    font-size: 20px;
    margin-bottom: 20px;
}

.rslides .slide-content .films-container .film .film-content .film-subscribe {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rslides .slide-content .films-container .film .film-content .subscribe_btn {
    display: inline-block;
    font-size: 16px;
    border: 2px solid;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 3px;
}
.rslides .slide-content .films-container .film .film-content .subscribe_btn:hover {
    color: rgba(231, 57, 49, 1);
    border-color: rgba(231, 57, 49, 1);
}
.rslides .slide-content .films-container .film .film-content .subscribe_btn.clicked {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ABOUT US */

.promo_block p {
    display: block;
    font-size: 50px;
    font-weight: 100;
    color: white;
    text-align: center;
    margin: 0 auto;
    line-height: 80px;
}

.promo_block .small-span {
    font-size: 30px;
    max-width: 1100px;
    line-height: 50px;
}

.block_low_padding {
    padding: 20px 0;
}

/* SOCIAL BUTTONS */

.text-right {
    text-align: right;
}

.social-button {
    display: inline-block;
    padding: 7px;
    font-size: 22px;
    width: 39px;
    text-align: center;
    color: #e73931;
    border: 1px solid #e73931;
    border-radius: 100%;
    transition: color 0.5s, border-color 0.5s;
    margin: 0 5px;
}
.social-button:hover {
    color: #1d142b;
    border-color: #1d142b;
    transition: color 0.5s, border-color 0.5s;
}

/* ADMIN */

.notification {
    margin-bottom: 30px;
    padding: 15px 20px;
}

.full-width-form input[type="text"], .full-width-table input[type="text"] {
    width: 100%;
    border: 0;
    background: #f1f1f1;
    border-radius: 3px;
    resize: vertical;
    padding: 15px;
    margin-bottom: 10px;
}
.full-width-form textarea, .full-width-table textarea {
    width: 100%;
    border: 0;
    background: #f1f1f1;
    border-radius: 3px;
    resize: vertical;
    min-height: 100px;
    padding: 15px;
    margin-bottom: 5px;
}
.full-width-table input[type="text"], .full-width-table textarea {
    margin: 0;
}

.full-width-table {
    width: 100%;
}
.full-width-table td, .full-width-table th {
    padding: 10px;
    text-align: center;
}
.full-width-table th {
    text-transform: uppercase;
}